.container-mainContent {
    height: 62vh;
    width: 98%;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #B0C4DE;
    border-radius: 10px;
    box-shadow: inset 10px 10px 5px 0px #708090 ;
    font-size: 20px;
    margin: 10px;    
}

.col-MainContent{
    width: 15%;
    height: 20vh;
    margin: 10px;    
    font-size: 20px;     
    padding-top: 50px;   
}

.bottom-MainContent{
    background-color: #B0C4DE;
    border: 1px solid gray;
    width: 100%;
    height: 20vh;
    border-radius: 5px 30px;
    box-shadow: inset -10px -10px 5px 5px #708090;    
}

.link-MainContent{

    background-color: #B0C4DE;
    border: 1px solid gray;
    padding: 50px;
        
    border-radius: 10px 30px;
    box-shadow: inset -10px -10px 5px 5px #708090;    
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.h6-MainContent{
    margin-top: 15px;
}