
.container-nav{
    
    height: 95vh;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #B0C4DE;
    border-radius: 10px;
    box-shadow: inset 10px 10px 5px 0px #708090; 
    font-size: 20px;
       
}

.div-user-icon {    
    text-align: center;
}

.div-user-icon h6 {    
    text-align: start;
    font-weight: 700;
}

.user-icon {
    font-size: 60px;
}

.button-sideNave{
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin-top: 10px;
}

.sideNave-nav-link:hover{
    background-color: white; 
    padding: 10x;
    border-radius: 25px;   
    text-align: center;
    font-weight: 600;
}